.kartsTrainingContainer{
    width: 80%;
    height: 400px;
    background-color:cornsilk;
    margin: auto;
    border-radius: 20px;

}
.container{
    display: flex;
    justify-content: space-between;
    

}
.title{
    width: 40%;
    margin: 14px;
    padding-top: 40px;
}
.title h1 {
    font-size: 45px;
    padding-bottom: 30px;
    margin-left: 40px;


    
}
.title p{
    font-size: 20px;
    margin-left: 53px;
    margin-left: 40px;


} 

.title button {
    width: 200px;
    color: white;
    background-color: blue;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
    margin-left: 40px;
}
.imgBlock{
    width: 40%;
}
.imgBlock img{
    width: 70%;
    height: auto;
    margin-left: 70px;
}
.qwer{
    color: white;
}
.text{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 42px;
    border-radius: 12px;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.1);
    align-items: center;
    
}
